.pagerLinks{
	width: 100%;
	margin-top: 20px;
}

.pagerLinks ul{
	text-align: center;
	margin: 0;
	padding: 0;	
}

.pagerLinks ul li{
	list-style: none;	
	display: inline;
	font-weight: bold;
	margin: 5px;
}

.pagerLinks li a:link, .pagerLinks li a:visited{
	color: #ffffff;
  background-color: #0087C5;
	padding: 5px 10px 5px 10px; 	
}

.pagerLinks li a:hover{
	color: #ffffff;
  background-color: #34393B;
	padding: 5px 10px 5px 10px; 
}

.pagerLinks li a.active {
	color: #ffffff;
  background-color: #34393B;
	padding: 5px 10px 5px 10px; 
}

.note{
	color: #9A0000;	
}

